<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a class="logo" href="">
        <img src="../img/logo.webp" alt="TradeWave" width="74" height="80" />
      </a>

      <nav class="nav" data-menu>
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#about">О компании</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#services">Решения для бизнеса</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#work">Как это работает</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#futures">Преимущества</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#cb">Контакты</a>
          </li>
        </ul>

        <div class="mobile-contacts">
          <button
            data-button="modal"
            type="button"
            class="btn-reset btn mobile-contacts-btn"
          >
            Связаться с нами
          </button>
        </div>
      </nav>

      <button
        type="button"
        class="btn-reset header__btn btn"
        data-button="modal"
      >
        Связаться с нами
      </button>
      <div class="burger__wrapper" data-burger>
        <button
          class="btn-reset burger"
          aria-label="Открыть меню"
          aria-expanded="false"
          data-burger=""
        >
          <span class="burger__line"></span>
          <span class="burger__line"></span>
          <span class="burger__line"></span>
        </button>
      </div>
    </div>
  </div>
</header>
